<div class="list">
    <mat-card>

        
        <mat-card-title class="list__title">{{ list.title }}</mat-card-title>

        <a class="list__new_task" color="primary" mat-raised-button [routerLink]="['/new-task', listId]">Create a new task</a>

        <span (click)="toggleTasks()" class="dropdown__control">click here</span>

        <button class="delete_list" mat-raised-button color="warn" (click)="deleteList()">Delete List</button>

        <button [ngClass]="collapsed ? 'hidden' : 'delete_completed'"  mat-raised-button color="warn" (click)="deleteCompleted()">
            Delete all completed tasks
        </button>

        <ul [ngClass]="collapsed ? 'list__tasks__hidden' : 'list__tasks__extended'">

            <li class="task" *ngFor="let task of tasks" >

                <app-task [task]="task"></app-task>

            </li>
            
        </ul>


    </mat-card>
</div>