.task{

    &__item {
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-bottom: 30px;
    }

    &__name {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    &__completed {
        height: 10px;
        width: 10px;
        border-radius: 100%;
    }

    &__checkbox {
        height: 25px;
        width: 25px;
        grid-column: 1/2;
    }

    &__delete {
        grid-column: 3/4;
        justify-self: center;
        height: 35px;
    }
}

.completed {
    text-decoration: line-through;
}


