.app-name {
    // color: white;
    width: 12.5vw;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 25px;
    
}

nav > a {
    margin-left: 50px;
}

.app-name {
    margin-top: 75px;
}