<div class="list">
    <mat-card>

        
        <mat-card-title class="list__title">{{ list.title }}</mat-card-title>

        <a class="list__new_task" color="primary" mat-raised-button [routerLink]="['/new-task', listId]">Create a new task</a>

        <button class="delete_list" mat-raised-button color="warn" (click)="deleteList()">Delete List</button>

        <ul class="list__tasks">
            <li class="task" *ngFor="let task of list.tasks" >
                <app-task [taskId]="task"></app-task>
            </li>
        </ul>


    </mat-card>
</div>