<!-- until the mvp has been met and deployed I am going to use the dash as a check list of all the things that need to be done before mvp has been reached -->

<p>dashboard works!</p>

<ul>
    <li>populate the db with one fake list that has a few tasks in it</li>
    <li>add a nav bar so that I can switch to the lists component and see the list being displayed</li>
    <li>display a list of lists where every sub list is a dropdown containing the tasks for that list</li>
    <li>Every task under the list should be displayed in a nice dropdown</li>
    <li>there should be a check box on every task determing if the task has been completed or not</li>
    <li>user should be able to create new lists and tasks with ease</li>
    <li>there should be users who sign up for an account</li>
</ul>
